aiohttp==3.7.4.post0
alabaster==0.7.12
anaconda-clean @ file:///opt/concourse/worker/volumes/live/0e5f861e-3f4d-4753-78d8-989ee51766a0/volume/anaconda-clean_1607007461930/work
APScheduler==3.6.3
asgiref==3.4.1
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
autopep8==1.6.0
Babel==2.9.1
backports.functools-lru-cache==1.6.4
bcrypt==3.2.0
binance==0.3
bleach==4.1.0
brotlipy==0.7.0
cachetools==4.2.2
cbpro==1.1.4
certifi==2021.10.8
cffi @ file:///opt/concourse/worker/volumes/live/976f8942-f51d-4f0e-7352-2a10f0820d0e/volume/cffi_1625814703974/work
chardet @ file:///opt/concourse/worker/volumes/live/7e1102c4-8702-40f2-63d6-f260ce5f85e4/volume/chardet_1607706831384/work
charset-normalizer==2.0.8
cheroot==6.5.4
CherryPy==18.1.0
click==8.0.3
colorama==0.4.4
conda==4.10.3
conda-package-handling @ file:///opt/concourse/worker/volumes/live/8fb3e065-760b-4a9d-4cd9-aca7fc8baf53/volume/conda-package-handling_1618262145611/work
config==0.5.1
cryptography @ file:///opt/concourse/worker/volumes/live/d5dda287-c0b3-4861-7262-fab05baa64dc/volume/cryptography_1616769284011/work
cycler==0.11.0
Cython==0.29.26
dateparser==1.1.0
dj-database-url==0.5.0
Django==3.2.11
docutils==0.17.1
Flask==2.0.2
fonttools==4.28.5
future==0.18.2
gunicorn==20.1.0
helpers==0.2.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imagesize==1.2.0
importlib-metadata==4.10.0
itsdangerous==2.0.1
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.collections @ file:///tmp/build/80754af9/jaraco.collections_1617120945298/work
jaraco.functools==3.4.0
jaraco.text @ file:///opt/concourse/worker/volumes/live/1eb31127-337e-4ae5-5110-33cd423f683a/volume/jaraco.text_1626445457945/work
Jinja2==3.0.2
joblib==1.1.0
jsonpickle==2.0.0
keyring==23.5.0
kiwisolver==1.3.2
Levenshtein==0.15.0
MarkupSafe==2.0.1
matplot==0.1.9
matplotlib==3.5.1
mongokit==0.9.1.1
more-itertools==8.10.0
multidict==5.2.0
newrelic==7.2.4.171
numpy==1.21.2
oauthlib==3.1.1
packaging==21.0
pandas==1.3.5
paramiko==2.8.0
Pillow==9.0.0
pkginfo==1.8.2
portend==3.0.0
protobuf==3.11.3
psutil==5.8.0
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.8.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrunch-trace==0.1.6
pydantic==1.9.0
Pygments==2.10.0
pyloco==0.0.139
pymongo==3.5.1
PyNaCl==1.4.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.1
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-binance==1.0.15
python-dateutil==2.8.2
python-decouple==3.5
python-telegram-bot==13.10
python-twitter==3.5
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
rapidfuzz==1.6.2
ratelimit==2.2.1
readme-renderer==32.0
regex==2021.10.8
repoze.lru==0.7
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
Routes==2.5.1
rsa==4.7.2
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
scikit-learn==1.0.2
scipy==1.7.3
simplejson @ file:///opt/concourse/worker/volumes/live/0831b61e-3719-4828-54e0-5763ef91d405/volume/simplejson_1626446520359/work
SimpleWebSocketServer==0.1.1
six==1.16.0
sklearn==0.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
sshtunnel==0.4.0
telegram==0.0.1
Telethon==0.19.1.6
tempora==4.1.2
threadpoolctl==3.0.0
tinydb==4.5.2
toml==0.10.2
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
tweepy==4.4.0
twine==3.7.1
typing==3.7.4.3
typing-extensions==3.10.0.2
tzdata==2021.2.post0
tzlocal==4.0.1
ujson==4.2.0
Unipath==1.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
ushlex==0.99.1
v==0.0.0
webencodings==0.5.1
websocket-client==0.40.0
websockets==9.1
Werkzeug==2.0.2
whitenoise==5.3.0
yarl==1.7.0
zc.lockfile==2.0
zipp==3.7.0
