#-------------------- GOLDENTHINKER TRADING GLOBAL CONFIGURATION DESCRIPTOR ------------------------------------


# ---------------------------- NODES ----------------------------------------


mode                            =       sandbox
default_exchange                =       binance
invest_interval_minutes         =       30
kline_interval_min              =       5m





    #   NODE 1    
    hostname_1                      =       goldenthinker-trading-1
    external_ip_1                   =       0.0.0.0
    internal_ip_1                   =       127.0.0.1

        #   NODE 1  SERVICE 1
        service_type_1_1                =       ssh
        service_instance_name_1_1       =       goldenthinker-trading-1
        service_exposure_1_1            =       internal
        service_port_1_1                =       22
        service_user_1_1                =       Administrator
        service_pass_1_1                =       Papapa123.
        service_node_cert_1_1           =       none

        #   NODE 1  SERVICE 2                      mongodb://localhost:27017
        service_type_1_2                =       database
        service_bind_1_2                =       127.0.0.1
        service_instance_name_1_2       =       mongodb_1
        service_database_name_1_2       =       goldenthinker
        service_insert_check_1_2        =       no
        service_database_driver_1_2     =       mongodb
        service_exposure_1_2            =       127.0.0.1
        service_port_1_2                =       27017
        service_user_1_2                =       Administrator
        service_pass_1_2                =       Papapa123.
        service_use_ssh_tunnel_1_2      =       no
        service_use_ssl_1_2             =       no

        #   NODE 1  SERVICE 3
        service_type_1_3                =       database
        service_instance_name_1_3       =       elastic_1
        service_database_name_1_3       =       goldenthinker
        service_insert_check_1_3        =       no
        service_database_driver_1_3     =       elasticsearch
        service_exposure_1_3            =       localhost
        service_port_1_3                =       9200
        service_user_1_3                =       elastic
        service_pass_1_3                =       JBI0OL5lS5JhyCqDCWe4
        service_use_ssh_tunnel_1_3      =       no

        #   NODE 1  SERVICE 4
        service_type_1_4                =       data_visualization
        service_instance_name_1_4       =       kibana_instance
        service_exposure_1_4            =       internal
        service_port_1_4                =       5601
        service_user_1_4                =       elastic
        service_pass_1_4                =       JBI0OL5lS5JhyCqDCWe4



# ---------------------------------------------------------------------------


# ---------------------------- NODE2 ----------------------------------------


    #   NODE 2

    hostname_2                      =       ec2-34-253-191-0.eu-west-1.compute.amazonaws.com
    external_ip_2                   =       34.253.191.0
    internal_ip_2                   =       172.31.27.70

        #   NODE 2 SERVICE 1
        type_2_1                        =       ssh
        instance_name_2_1               =       telegram_listener
        exposure_2_1                    =       external
        port_2_1                        =       22
        user_2_1                        =       ec2-user
        pass_2_1                        =       Papapa123.
        node_cert_2_1                   =       com_goldenthinker_trade_install/ec2/telegram_listener/ticker.pem
        #   NODE 2 SERVICE 2
        type_2_2                        =       chat
        instance_name_2_2               =       telegram_listener
        exposure_2_2                    =       local
        port_2_2                        =       27017
        exposure_2_2                    =       internal
        user_2_2                        =       +353834652093
        node_cert_2_2                   =       telethon_robot_session.session


# -----------------------------------------------------------------------------

# ----------------------------------------------------------------------------------



# -----------------------------------------------MANAGED SERVICES ---------------------------------------------------------

# EXCHANGE SERVICES

    service_type_1                              =       exchange
    exchange_name_1                             =       binance
    exchange_api_credential_name_1              =       com_goldenthinker_trade_exchange_binance_apicredential
    exchange_api_credential_key_1               =       1jrNgGMyjoKOqyYq7HhjigQ9coo9rLiT6WBv4d9040Lb91zk0ugauMTd77I8gTBl
    exchange_api_credential_secret_1            =       y0W7KOyUHyDejjxMlMtwxzrs5cGeLN1Ae6fEMKOk61LjyHv4bfXAUrN9FdvajXny


    service_type_2                              =       exchange
    exchange_name_2                             =       coinbase
    exchange_api_credential_name_2              =       vre0Bs3NCfIgjw7E
    exchange_api_credential_key_2               =       Oa2ceyBVh6JMiKcwOHI9SOJKYh0XOepH
    exchange_api_credential_secret_2            =       mypassword

    
    service_type_3                              =       exchange
    exchange_name_3                             =       kraken
    exchange_api_credential_name_3              =       com_goldenthinker_trade_certs/api-key-1638435337780.key
    exchange_api_credential_key_3               =       
    exchange_api_credential_secret_3            =       

    
    service_type_4                              =       exchange
    exchange_name_4                             =       bitrex
    exchange_api_credential_name_4              =       None
    exchange_api_credential_key_4               =       None
    exchange_api_credential_secret_4            =       None


    service_type_5                              =       exchange
    exchange_name_5                             =       crypto
    exchange_api_credential_name_5              =       None
    exchange_api_credential_key_5               =       None
    exchange_api_credential_secret_5            =       None


    service_type_6                              =       exchange
    exchange_name_6                             =       gemini
    exchange_api_credential_name_6              =       None
    exchange_api_credential_key_6               =       None
    exchange_api_credential_secret_6            =       None


# --------------------------------------------------------------------------------------------------------------------

# ----------------------------------------------- MANAGED DATABASE ---------------------------------------------------------


# DATABASE SERVICES


    service_type_2                  =       database
    service_bind_2                  =       goldenthinker-4fbdc3e7.mongo.ondigitalocean.com
    service_instance_name_2         =       mongodb_digital_ocean_1
    service_database_name_2         =       goldenthinker
    service_insert_check_2          =       no
    service_database_driver_2       =       mongodb
    service_port_2                  =       27017
    service_user_2                  =       goldenthinker
    service_pass_2                  =       PwY34850Rd6aW2e7
    service_use_ssh_tunnel_2        =       no
    service_connection_url_2        =       mongodb+srv://goldenthinker:PwY34850Rd6aW2e7@goldenthinker-4fbdc3e7.mongo.ondigitalocean.com/goldenthinker%3FauthSource=admin&replicaSet=goldenthinker
    service_certificate_where       =       /Users/pablotomasborda/Desktop/IDrive-Sync/crypto_trading/com_goldenthinker_trade_certs/gt_digital_ocean_mongo_1_certificate.pem






# -----------------------------------------------------------------------------------------------------------------------

