mode                        :   sandbox
default_exchange:           :   binance
node_1                      :   192.168.0.230
node_user_1                 :   goldenthinker
node_pass_1                 :   Papapa123.
node_cert_1                 :   /path/to/cert
node_mongo_host_1           :   192.168.0.230 
node_mongo_user_1           :   ec2-user
#node_mongo_pk_1            :   ec2/ticker.pem
node_mongo_server_user_1    :   goldenthinker
node_mongo_password_1       :   Papapa123.
node_mongo_databasename     :   goldenthinker
node_2                      :   ec2-34-253-191-0.eu-west-1.compute.amazonaws.com
node_user_2                 :   ec2-user
node_pass_2                 :  
node_cert_2                 :   /Users/goldenthinker/aws_keypair.cer
