[Unit]
Description=Monitors Existing Orders and Triggers Sell
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/crypto_trading
ExecStart=/usr/local/bin/python /crypto_trading/gt_sell_service.py

[Install]
WantedBy=multi-user.target